.app-container {
    width: 95%;
    margin-left: 2.5%;
    height: 85%;
    
    background-color: $light;

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        height: 100%;
    }

    .nav {
        height: 0px;

        .test{
            position: absolute;
            top: 17vh;
            left: 8vw;
            width: 1.5rem;
        }
    }
}

